<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUSCADOR GIT</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="username">
        <ol>
            <li v-for="repo in repos">{{repo}}</li>
        </ol>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

    <script>
        function githubAPI(username){
            return fetch(`https://api.github.com/users/${username}/repos`)
                .then(response => response.json());
        }

        

        new Vue({
           el: '#app',
           data: {
               username:'',
               repos: []
           },
           watch:{
               username:function(newValue, oldValue){
                githubAPI(this.username).then(repos=> this.repos = repos);  
               }
           } 
        })
    </script>

    
    
</body>
</html>