<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUSCADOR GIT</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="username">
        <ol>
            <li v-for="repo in repos">{{repo.name}}</li>
        </ol>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

    <script>
        function githubAPI(username){
            return fetch(`https://api.github.com/users/${username}/repos`)
                .then(response => response.json());
        }

        function debounce(func, wait, immediate) {
	        self.timeout = self.timeout || null;
	        return function() {
		var context = this, args = arguments;
		    clearTimeout(self.timeout);
		    self.timeout = setTimeout(function() {
			self.timeout = null;
		if (!immediate) func.apply(context, args);
		    }, wait);
		if (immediate && !self.timeout) func.apply(context, args);
	    };
        }

        new Vue({
           el: '#app',
           data: {
               username:'',
               repos: []
           },
           watch:{
               username:function(newValue, oldValue){
                   debounce(()=>{ githubAPI(this.username).then(repos=>{
                    if(repos.length > 0 && repos[0].id)
                    this.repos = repos;
                }); 

                   },500)();
                
               }
           } 
        })
    </script>

    
    
</body>
</html>